/* Typography setup
---------------------------------------------------------------------------------- */

@use 'mixins';
@use 'variables';

/* Set base font size / family
---------------------------------------------------------------------------------- */
:root {
  --font-body: 'arial', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--black);
  font: var(--font-rg);
  -webkit-font-smoothing: antialiased;
}

/* Set up webfonts (if applicable)
---------------------------------------------------------------------------------- */

/* Font sizes/gutters
---------------------------------------------------------------------------------- */

// Setup for font sizes. These are mostly consistent, some blocks may have variations
// (and therefore overriding these variables) either on desktop, mobile, or both.

// Example font sizes (base these on most common sizes across designs):
// 16px mobile / 16px desktop - sm
// 18px mobile / 18px desktop - rg
// 24px mobile / 28px desktop - md
// 28px mobile / 34px desktop - lg
// 36px mobile / 42px desktop - xl
// 52px mobile / 66px desktop - xxl

:root {
  --font-sm: 400 1.6rem / 1.3 var(--font-body);
  --font-sm-gutter: 1em 0 1.75em;
  --font-rg: 400 1.8rem / 1.3 var(--font-body);
  --font-rg-gutter: 1em 0 1.75em;
  --font-md: 400 2.4rem / 1.3 var(--font-body);
  --font-md-gutter: 0.75em 0 1.25em;
  --font-lg: 700 2.8rem / 1 var(--font-body);
  --font-lg-gutter: 0.75em 0;
  --font-xl: 700 3.6rem / 1 var(--font-body);
  --font-xl-gutter: 0.75em 0 0.5em;
  --font-xxl: 700 5.2rem / 1 var(--font-body);
  --font-xxl-gutter: 0.75em 0 0.5em;
}

@media (min-width: 768px) {
  :root {
    --font-md: 400 2.8rem / 1.3 var(--font-body);
    --font-lg: 700 3.4rem / 1 var(--font-body);
    --font-xl: 700 4.2rem / 1 var(--font-body);
    --font-xxl: 700 6.6rem / 1 var(--font-body);
  }
}

/* Default sizes/margins
---------------------------------------------------------------------------------- */
:where(h1) {
  margin: var(--font-xxl-gutter);
  font: var(--font-xxl);
  text-wrap: pretty;

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(h2) {
  margin: var(--font-xl-gutter);
  font: var(--font-xl);
  text-wrap: pretty;

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(h3) {
  margin: var(--font-lg-gutter);
  font: var(--font-lg);
  text-wrap: pretty;

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(h3) {
  margin: var(--font-md-gutter);
  font: var(--font-md);

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(h5, h6, p, ul, ol, blockquote) {
  margin: var(--font-rg-gutter);

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

/* Utility classes to apply font sizing
---------------------------------------------------------------------------------- */
:where(.font-sm) {
  margin: var(--font-sm-gutter);
  font: var(--font-sm);

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(.font-rg) {
  margin: var(--font-rg-gutter);
  font: var(--font-rg);

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(.font-md) {
  margin: var(--font-md-gutter);
  font: var(--font-md);

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(.font-lg) {
  margin: var(--font-lg-gutter);
  font: var(--font-lg);
  text-wrap: pretty;

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(.font-xl) {
  margin: var(--font-xl-gutter);
  font: var(--font-xl);
  text-wrap: pretty;

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

:where(.font-xxl) {
  margin: var(--font-xxl-gutter);
  font: var(--font-xxl);
  text-wrap: pretty;

  &:where(:first-child) {
    margin-top: 0;
  }

  &:where(:last-child) {
    margin-bottom: 0;
  }
}

/* Font weights/styles
---------------------------------------------------------------------------------- */
:where(strong) {
  font-weight: 700;
}

:where(em) {
  font-style: italic;
}

/* List styles
---------------------------------------------------------------------------------- */
:where(ul) {
  padding-left: 1em;
  list-style-type: disc;
}

:where(ul li) {
  margin-top: 0.75em;

  &:first-child {
    margin-top: 0;
  }
}

:where(ol) {
  padding-left: 1em;
  list-style-type: decimal;
}

/* Anchors
---------------------------------------------------------------------------------- */
:where(a) {
  color: currentColor;
}

:where(a:link),
:where(a:visited) {
  text-decoration: underline;
}

:where(a:hover),
:where(a:active) {
  text-decoration: none;
}

/* Figures
---------------------------------------------------------------------------------- */
:where(figure) {
  max-width: 100%;
  margin: 1.5em 0 2.5em;

  :where(figcaption) {
    margin-top: 1em;
    padding-left: 1em;
    border-left: solid 1px color-mix(in srgb, currentColor 75%, transparent);
    font-size: 90%;
    opacity: 0.5;
  }
}

/* Alignments
---------------------------------------------------------------------------------- */
:where(.aligncenter) {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  :where(.alignleft) {
    float: left;
    margin-right: 1em;
  }

  :where(.alignright) {
    float: right;
    margin-left: 1em;
  }
}

/* Tables
---------------------------------------------------------------------------------- */
:where(table) {
  border-collapse: separate;
  border-spacing: 0;
}

:where(table td, table th) {
  padding: 0.75em 1em;
  border-style: solid;
  border-color: color-mix(in srgb, currentColor 25%, transparent);
  border-width: 0 1px 1px 0;
}

:where(table td:first-child, table th:first-child) {
  border-left-width: 1px;
}

:where(table tr:first-child td, table tr:first-child th) {
  border-top-width: 1px;
}

:where(table thead + tbody tr:first-child td, table thead + tbody tr:first-child th) {
  border-top-width: 0;
}

:where(table thead tr:only-child td, table thead tr:only-child th) {
  border-bottom-width: 5px;
}

/* Monospace font variant
---------------------------------------------------------------------------------- */
:where(pre),
:where(code) {
  font-family: monospace;
}
