/* CSS Variables
---------------------------------------------------------------------------------- */

/*------------------------------------
	Colours
------------------------------------*/
:root {
  --black: #000;
  --white: #fff;
}

/*------------------------------------
	Fonts
------------------------------------*/
:root {
  --font-family: 'arial', sans-serif;
}
